<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Школа программирования</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'index' %} active{% endif %}" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'about' %} active{% endif %}" href="/about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'categories' %} active{% endif %}" href="/categories">Категории</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'students' %} active{% endif %}" href="/students">Студенты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'learning' %} active{% endif %}" href="/learning">Хочу учиться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page is defined and page == 'contact' %} active{% endif %}" href="/contact">Обратная связь</a>
        </li>
      </ul>
    </div>
  </div>
</nav>